.banner h1{
	color:black;
	font-size:50px;
	padding-top:30px;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 50px;  
    letter-spacing: 1.5px;
}

.p{
    color:black;
	font-size:50px;
	padding-top:30px;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 50px;  
    letter-spacing: 1.5px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
